body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    background-color: white;
}                           

.menu-bar {
    display: flex;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    padding: 0 4vh;
    color: #1e1e31;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.3vh 0.6vh rgba(0, 0, 0, 0.377);
    border-bottom: 1vh white solid;
    border-bottom-left-radius: 3%;

}

.heading {
    font-size: 4vh;
    height: 5vh;
}

.lef-logo {
    height: 9vh;
}

.options {
    margin-left: auto;
    display: flex;
    align-items: center;
    right: 0;
    font-size: 3vh;
    font-size: 18px;
    gap: 0.3vh;
    font-family: Inter, sans-serif;
}

.options a {
    text-decoration: none;
    color: inherit;
    padding-left: 5vh;
}

.options a:hover {
    text-decoration: underline;
    color: #000000;
}

.options button {
    background-color: white;
    color: #3B82F6;
    font-size: 18px;
    font-weight: bold;
    padding: 2vh 3.5vh;
    margin-left: 5vh;
    text-align: center;
    border-color: #3B82F6;
    border: 1 solid;
    border-radius: 1vh;
    cursor: pointer;
}

.options button:hover {
    transition: 0.4s;
    color: white;
    background-color: #3B82F6;
}

#signup {
    background-color: #8b2de4;
    border-color: #8b2de4;
    color: white;
    border: 0;
}

#signup:hover {
    transition: 0.4s;
    background-color: #6214ac;
}
/* Login Modal */
.signin-modal {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background-color: #0000007e;
}

.signin-box {
    width: 30%;
    height: 95%;
    padding: 0 2rem;
    background-color: #ffffffd3;
    backdrop-filter: blur(10px);
    border-radius: 2%;
}

.close-signin {
    position: absolute;
    top: 5vh;
    right: 3vh;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #4d4d4d;
    background: transparent;
    text-decoration: none;
    width: 50px;
    height: 20px;
    cursor: pointer;
    padding: 5px 10px;
}

/* Login Modal */

.main-content {
    margin-top: 3.5cm;
    height: 80vh;
    background: linear-gradient(to right, #8e2de2, #1e4de9, #69b2ff);
    color: white;
    text-align: center;
    width: auto;
    padding-top: 1%;
    border-bottom-left-radius: 20px;
}

.main-content h1 {
    font-size: 60px;
    font-weight: bold;
}

.main-content p {
    font-size: 23px;
    font-weight: bold;
}

.main-content p b {
    color: rgb(215, 42, 221);
}

.main-content button {
    font-size: 20px;
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    cursor: pointer;
    margin-top: 1em;
}

#hire {
    color: #9333ea;
    margin-right: 1em;
}

#work {
    background-color: #3B82F6;
    color: white;
}

.separator {
    margin-top: 2%;
}

.about-us h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.about-us li {
    /* text-align: center; */
    font-size: 20px;
    margin-bottom: 5%;
}

.about-us a {
    display: block;
    text-align: right;
    margin: 10px;
    color: black;
}

.about-us a img {
    height: 1em;
    padding-right: 5px;
}
